/* Reset css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body{
    font-family: 'Hanken Grotesk', sans-serif;
}

button{
    padding: .6rem 1rem;
    border-radius: 0;
    border-width: 0;
    border-color: currentColor;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 1200px;
}






/* header */
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1;
}

/* header navigation bar */
.header-nav{
    display: flex;
    justify-content: space-between;
    margin: 1.5rem;
    height: 3vh;
}

nav ul{
    list-style-type: none;
}


nav a{
    text-decoration: none;
    color: gray;
}

.header-nav .left-side, .header-nav .right-side, .header-nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}






/* main jumbotron */
.jumbotron{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 150px 160px 0px 160px;
    background-color: #B3D0E7;
}

/* jumbotron call to action */

.jumbo-underground{
    display: flex;
    margin-top: 100px;
}

.jumbocta{
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 3rem;
}

.jumbocta .subscription{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.jumbocta span a{
    font-size: 50px;
    color: black;
}

.jumboimage img{
    width: 57vw;
    position: absolute;
    bottom: -100px;
    right: 5rem;
}






/* main section */

main > h2{
margin-top: 10rem;
}

main .checkbox-plan{
    width: 1rem;
    height: 1rem;
    background-color: white;
    border: 1px gainsboro solid;
    border-radius: 50%;
}

/* plan selection */
.checkbox-plan:hover{
    cursor: pointer;
}

.checkbox-plan:active{
    animation: select .1s linear infinite;
}

@keyframes select {
    0%{
        border: 4.5px #0160FF solid;
    }

    100%{
        border: 4.5px #0160FF solid;
    }
}

.plan-container, .plan{
    display: flex;
    align-items: center;
}

.plan-container{
    margin-top: 3rem;;
    gap: 1rem;
}

.plan{
    gap: .3rem;
}

/* plan column */
.plan-row{
    display: flex;
    margin-top: 3rem;
    gap: 2rem;
    justify-content: space-between;
}

.plantype-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 1px #cccccc solid;
}

/* type of plan (single,team ecc..) */
.type{
    padding: .5rem;
    text-align: center;
}

/* details about the plan */
.plan-details{
    border-top: 1px #cccccc solid;
    padding: 3rem 2rem;
    font-size: 16px;
}

/* top section of the details */
.plan-details-top{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-bottom: 2rem;
    border-bottom: 1px #cccccc solid;
}

.plan-details-top .function span{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.price, .function, .cta{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    line-height: 1rem;
}

.plan-details-down ul{
    list-style-position: inside;
}

/* border 75% white 25% gray */
.whiteborder{
    bottom: -1%;
    right: 0;
}

/* bottom section of the details */
.plan-details-down{
    display: flex;
    flex-direction: column; 
    margin-top: 3rem;
    gap: 2rem;
}








/* enterprise plan */
section.enterprise-plan{
    margin-top: 3rem;
    border: 1px #cccccc solid;
}

.enterprise-plan .type{
    border-bottom: 1px #cccccc solid;
}
.enterprise-plan .plan-details{
    display: flex;
    justify-content: space-between;
    border-top: none;
    gap: 2rem;
}

.plan-details-top{
    width: 70%;
    border-bottom: none;
}

.plan-details-down{
    margin-top: 0;
}







/* partnership */

.partnership{
    display: flex;
    gap: 3rem;
    margin: 5rem auto;
}

.partnership img{
    width: 60%;
}

.partnership-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 30%;
}

.partnership-description button{
    width: 50%;
}






/* dropbox business */

.dropbox-business .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.dropbox-business .card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 5rem;
    max-width: calc(100%/3 - 2rem);
}

.card img{
    width: 100%;
} 







/* .dropbox-users-companies */

.dropbox-users-companies .title{
    width: 750px;
}

.dropbox-users-companies .title h2{
    margin-bottom: 4rem;
    line-height: 3.5rem;
}

.companies-logos{
    display: flex;
}

.companies-logos .company-column{
    display: flex;
    flex-wrap: wrap;
    box-sizing: unset;
    background-color: red;
    width: calc(100%/3);
    /* debug */
    /* border: 5px dotted black; */
    height: 500px;
}

.company-column .company-card{
    background-color: green;
    width: calc(100%/2);
    /* debug */
    border: 5px dotted black;
    height: 250px;
}





/* company cta */

.company-cta{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* debug */
    padding: 100px 0;
    background-color: #B3D0E7;
    color: #6C1C2C;
}

.company-cta h2{
   width: 40%;
   line-height: 3.5rem;
}

.company-cta button{
    /* debug */
    height: 50px;
    width: 350px;
}




 



