/* Reset css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body{
    font-family: 'Hanken Grotesk', sans-serif;
}

button{
    padding: .6rem 1rem;
    border-radius: 0;
    border-width: 0;
    border-color: currentColor;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 25vh 15vw;
}


/* header */

/* header navigation bar */
.header-nav{
    display: flex;
    justify-content: space-between;
    margin: 1.5rem;
    height: 3vh;
}

nav ul{
    list-style-type: none;
}


nav a{
    text-decoration: none;
    color: gray;
}

.header-nav .left-side, .header-nav .right-side, .header-nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

/* header jumbotron */
.jumbotron{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 90vh;
    padding: 5% 10%;
    background-color: #B3D0E7;
    position: relative;
}

/* jumbotron call to action */
.jumbo-underground{
    position: relative;
    display: flex;
    justify-content: space-between;
}

.jumbocta{
    display: flex;
    flex-direction: column;
    width: 35%;
    justify-content: space-between;
}

.jumbocta span a{
    position: absolute;
    font-size: 50px;
    color: black;
}

.jumboimage img{
    position: absolute;
    width: 55vw;
    left: 40%;
}

/* main section */

main .checkbox-plan{
    width: 1rem;
    height: 1rem;
    background-color: white;
    border: 1px gainsboro solid;
    border-radius: 50%;
}

/* plan selection */
.checkbox-plan:hover{
    cursor: pointer;
}

.checkbox-plan:active{
    animation: select .1s linear infinite;
}

@keyframes select {
    0%{
        border: 4.5px #0160FF solid;
    }

    100%{
        border: 4.5px #0160FF solid;
    }
}

.plan-container, .plan{
    display: flex;
    align-items: center;
}

.plan-container{
    gap: 1rem;
}

.plan{
    gap: .3rem;
}

/* plan column */

.plan-column{
    display: flex;
    border: 1px black solid;
}

.plantype-container{
    display: flex;
    flex-direction: column;
    max-width: 30%;
    border: 1px black dotted;
}

.price, .function, .cta{
    display: flex;
    flex-direction: column;
}

.plan-details-down ul{
    list-style-position: inside;
}

 



