button.bluebtn{
    background-color: #0160FF;
    color: white;
}

button.whitebtn{
    background-color: white;
    color: black; 
    border: 1px solid black;
}

button:hover{
    cursor: pointer;
    opacity: .8;
}

header li:hover{
    cursor: pointer;
}

h1{
    font-size: 80px;
    line-height: 80px;
}

h2{
    font-size: 45px;
    line-height: 80px; 
}

h3{
    font-size: 25px;
}

h4{
    font-size: 20px;
}

.whiteborder{
    width: 75%;
    height: 10px;
    background-color: white;
    position: absolute;
}


.stretched {
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
